  /* Box list
    ============================= */
    body {
      height:28vh;
      display: flex;
      align-items: flex-end;
    }
    .container {
      display: flex;
      justify-content: center;
      align-items: baseline;
    }
    .box {
      display: flex;
      color: var(--color-white);
      justify-content: center;
      align-items: center;
      font-size: 10rem;
      font-family: serif, Times;
      height: 15rem;
      width: 28rem;
      background-color: lightblue;
    }
    .box1, .box5 {
      width: 8rem;
      height: 6rem;
      font-size: 1.8rem;
    }
    .box2, .box4 {
      width: 15rem;
      height: 10rem;
      font-size: 4.2rem;
    }
    .box1 {
      background-color: #2fcb7e;
    }
    .box2 {
      background-color: #1DA1F2;
    }
    .box3 {
      background-color: #394a5c;
    }
    .box4 {
      background-color: #9404c0;
    }
    .box5 {
      background-color: #e57d0c;
    }